# OS specific temporary files
.DS_Store*
ehthumbs.db
Thumbs.db

# IDEs
.buildpath
.idea
.project
.settings
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.svn
.sass-cache

# Directories created by Composer
/web/*
!/web/robots.txt
!/web/.htaccess
!/web/sites
/web/sites/*
!/web/sites/all
/web/sites/all/*
!/web/sites/all/modules
/web/sites/all/modules/*
!web/sites/all/modules/custom
!/web/sites/all/themes
/web/sites/all/themes/*
!web/sites/all/themes/custom
/vendor/
